/* Header Start */
header {
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: white; 
}
nav a{
    text-decoration: none;
    color: black;
    padding: 50px;
    margin-top:20px;
    font-size: 20px;
}
nav i{
    padding-left: 20px;
    margin-top: 20px;
}
h2 {
    margin-left: 80px; 
}
/* Header End */
/* Product image details */
 .shop-container {
  position: relative;
  height: 25vh;
  background: url('1799.jpg') no-repeat center center;
  background-size: cover;
  display: flex; 
  text-align: center;             
  justify-content: center;      
  align-items: center;          
  margin-top: -30px; 
  background-image:url(../images/table.jpg);
  background-repeat: no-repeat;
  border: 1px solid white;
  padding-top: 70px;
  margin-bottom: 20px ;
  justify-content: center;
  margin-top: -5px;
          
}
.shop-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;                    
}

.shop-container h1 {
  color: #fff;
  font-size: 48px;               
  z-index: 2;                    
  margin-top: -15px;                 
}
/* Product image details End */
/* Drop Down Details */
.filter{
    border: 1px solid blue;
    height: 25px;
    width: 80px;
    margin-top: 10px;
    margin-left: 100px;  
}
/* Drop Down Details End */
/* Products List */
.mobiles-container{
    display: flex;
    margin: 280px;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.mobiles-container .mobiles{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    height: 380px;
    width: 300px;
}
.mobiles-container .mobiles1{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    height: 390px;
    width: 300px;
    margin-left: 150px;
}
.mobiles-container .mobiles2{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    height: 390px;
    width: 300px;
    margin-left: 10px;
}
.mobiles p{
    color: white;
}
.mobiles1 p{
    color: white;
}
.mobiles2 p{
    color: white;
}
.mobiles i{
    padding-left: 250px ;
    padding-top: -5%;
}
.mobiles:hover i{
    color: black;
}
.mobiles1 i{
    padding-left: 250px ;
    padding-top: 5%;
}
.mobiles1:hover i{
    color: black;
}
.mobiles2 i{
    padding-left: 250px ;
    padding-top: 5%;
}
.mobiles2:hover i{
    color: black;
}
.img{
    height: 180px;
    width: 200px;
    margin:15px 0px 0px 50px;
}
.mobiles h5{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 18px;
}
.mobiles .u{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-top: -20px;
}
.mobiles .u1{
    height: 20px;
    width: 20px;
    margin-top: -20px;
    margin-left: 5px;
}
.mobiles h4{
    margin: 25px 0px 0px 20px; 
    font-size: 25px;
}
.mobiles span a{
    margin: 200px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.mobiles1 h5{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 18px;
}
.mobiles1 .u{
    height: 20px;
    width: 20px;
    margin-top: -20px;
    margin-left: 20px;
}
.mobiles1 .u1{
    height: 20px;
    width: 20px;
    margin-top: -20px;
    margin-left: 5px;
}
.mobiles1 h4{
    margin: 25px 0px 0px 20px; 
    font-size: 25px;
}
.mobiles1 span a{
    margin: 200px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}.mobiles2 h5{
    margin-left: 20px;
    margin-top: -5px;
    font-size: 18px;
}
.mobiles2 .u{
    height: 20px;
    width: 20px;
    margin-top: -20px;
    margin-left: 20px;
}
.mobiles2 .u1{
    height: 20px;
    width: 20px;
    margin-top: -20px;
    margin-left: 5px;
}
.mobiles2 h4{
    margin: 25px 0px 0px 20px; 
    font-size: 25px;
}
.mobiles2 span a{
    margin: 200px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/* Products List End  */
/* Footer Details  */
.footer-container{
   /* border: 2px solid blue; */
   background-color: darkblue;
   height: 400px;
   width: auto;
   display: flex;
   align-items: center;
   margin: 50px 0px 0px 0px;
   
}
.footer-container .footer{
  /* border: 2px solid red; */
  height: 300px;
  width: 300px;
  margin: 40px;
}
.footer h2 {
    margin-left: 35px;
    color: white;
}
.footer p{
    color: grey;
    font-size: 18px;
    margin-left: 35px;
}
.footer p a{
    color: grey;
    text-decoration: none;
}
/* Footer Details End */
/* Search Bar Details */
.main{
    display: flex;
    margin: 40px 0px 40px 0px;  
}

#sea{
    margin-left: 450px;
    width: 650px;
    height: 30px;
    border-radius:50px ;
    font-size: 20px;
}
#filter{
    margin-left: 180px;
    height: 30px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}
.search-icon{
    margin-top: -65px;
    margin-left: 1390px;
    margin-bottom: 20px;
}
/* Search Bar Details End */